.panel {
    background: white;
    box-shadow: 3px 3px 1px rgba(0,0,0,0.25);
    float: left;
    min-width: 18em;
    max-width: 30em;
    margin: 1em;
  }
  .panel header {
      background: #874dc5;
      background: linear-gradient(336deg, #974ecb 25%, #bd5fcb);
      border-bottom: solid 3px #874dc5;
      padding: 1rem .8rem 0.1rem;
  }
  .panel h2 {
    color: #fff;
    margin: 0;
  }
  .panel h2 span {
      color: #f6d2a1;
  }
  .panel header p {
    font-style: italic;
    color: #f6d2a1;
  }
    
  ul { padding: 0; }
  .panel li {
    padding: .6em 0;
    border-bottom: solid 1px #ddd;
    cursor: pointer;
    list-style: none;
  }
  





.candidate {
    display: flex;
    flex-direction: row;
}
.candidate-details {
    border-right: solid 1px #cecece;
    color: #333;
    display: flex;
    flex-direction: column;
    flex: 0 1 40%;
    padding: 0 .5em;
}
.candidate-details.winner .person-name {
  font-weight: bold;
}
.person-name {
    margin: 0;
}
.party-name {
    color: #999;
    font-size: 0.75em;
    margin: 0.2em 0 0;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
.votes {
    color: #999;
    font-size: 0.75em;
    font-style: italic;
    flex: 1 1 60%;
}